name : pipeline

on:
    push:
        branches:
            -main

jobs:
    run-job:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: action/checkout@v2

            - name: print-message
              run: echo "started"
