name: pipeline

on:
  push:
    branches:
      -main

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: action/checkout@v2

      - name: run python
        run: echo "hello pipe"


